<div id="<%= dom_id group %>" class="d-flex flex-row justify-content-between bg-white align-items-center p-2">
  <p class="text-black-50">
    <img src=<%= group.icon %> alt=<%= group.name %> class="img-thumbnail groupIcon">
    <%= group.name %>
  </p>
  <p class="text-secondary">
   <strong>$</strong>
    <%= group.expenses.sum(:amount) %>
  </p>
</div>
