<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <img src=<%= group.icon %> alt=<%= group.name %> class="img-thumbnail icon">
  </p>

  <p>
   <strong>Total amount :$</strong>
    <%= group.expenses.sum(:amount) %>
  </p>

  <p>
    <strong>User:</strong>
    <%= current_user.name %>
  </p>

</div>
