<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="headerSignin d-flex p-2 justify-content-between mb-4">
  <%= link_to root_path, class: "mt-2" do %>
      <i class="bi bi-arrow-left text-white align-items-center "></i>
  <% end %>
  <div class="actions">
    <%= f.submit "Send Instructions" , class: "btn align-items-center text-white"%>
  </div>
</div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", placeholder: "Email" %>
  </div>
  

<% end %>

